*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.container{
  width: 100%;
  max-width: 1320px;
  padding:0 1rem;
  margin: 0 auto;
}
header{
    border-bottom: 1px solid rgb(190, 190, 190);
}
#top-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}
.logo-wrapper{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.logo-wrapper #logo{
  width:55px ;
}
.search-wrapper{
    display: none;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: 30%;
   }
   .search-wrapper input{
    width: 100%;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    outline: none;
    border: none;
    border: 1px solid grey;
    
   }
   .search-wrapper span{
    position: absolute;
    right: 10px;
    top: 10%;
   }
.menu-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.menu-icons span{
    font-size: 30px;
} 
.menu-icons span{
    color: green;
}
.menu-icons div{
    position: relative;
}
.count{
    position: absolute;
    bottom: 24px;
    left: 19px;
    background-color: green;
    padding: px;
    border-radius: 50%;
    color: white;
    font-size: 12px;
    width: 17px;
    height: 17px;
    text-align: center;
}
#menu-btn{
    outline: none;
    background: none;
    border: none;
    color: green;
}
#menu-btn span{
    font-size: 33px;
    margin-top: 6px;
}

#lower-header{
    background-color: rgb(248, 248, 248);
}
#menu-list{
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 0.5rem;
}
#menu-list li{
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}
#menu-list li span{
    cursor: pointer;
}
#menu-list li a{
    color: green;
}

#home-dropdown,
#shop-dropdown,
#stores-dropdown,
#Pages-dropdown,
#Docs-dropdown,
#Dashboard-dropdown{
    opacity: 0;
    transform: translateY(-30%);
    position: absolute;
    top: 39px;
    left: -4px;
    width: 132px;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.089);
    transition: opacity 0.2s ease, transform 0.2s ease;
    pointer-events: none; 
}


#home:hover ~ #home-dropdown,.home:hover ~ #home-dropdown,
#shop:hover ~ #shop-dropdown,.shop:hover ~ #shop-dropdown,
#stores:hover ~ #stores-dropdown,.stores:hover ~ #stores-dropdown, 
#Pages:hover ~ #Pages-dropdown,.Pages:hover ~ #Pages-dropdown, 
#Docs:hover ~ #Docs-dropdown,.Docs:hover ~ #Docs-dropdown, 
#Dashboard:hover ~ #Dashboard-dropdown,.Dashboard:hover ~ #Dashboard-dropdown {
    transform: translateY(-5%);
    opacity: 1;
}


#menu-list #home:hover #home-dropdown,
#menu-list .shop:hover #shop-dropdown,
#menu-list .stores:hover #stores-dropdown,
#menu-list .Pages:hover #stores-dropdown,
#menu-list .Docs:hover #Docs-dropdown,
#menu-list .Dashboard:hover #Dashboard-dropdown {
    pointer-events: auto;
}


#home-dropdown ul,
#shop-dropdown ul,
#stores-dropdown ul,
#Pages-dropdown ul, 
#Docs-dropdown ul, 
#Dashboard-dropdown ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: baseline;
}


#home-dropdown ul li a,
#shop-dropdown ul li a,
#stores-dropdown ul li a,
#Pages-dropdown ul li a, 
#Docs-dropdown ul li a, 
#Dashboard-dropdown ul li a {
    color: black;
}


/* Styles for screens between 576px and 767.98px (Small devices) */
@media (min-width: 576px) {
    
}

/* Styles for screens between 768px and 991.98px (Medium devices) */
@media (min-width: 768px)  {
   #menu-btn{
    display: none;
   }
   .search-wrapper{
    display: flex;
   }
}

/* Styles for screens between 992px and 1199.98px (Large devices) */
@media (min-width: 992px) {
    #menu-list{
        display: flex;
    }
}

/* Styles for screens 1200px and larger (Extra Large devices) */
@media (min-width: 1200px) {
    
}